@{
    ViewData["Title"] = "Referral Letter";
    Layout = "_CounsellingPatient";

}

<div class="row justify-content-center">
    <h2 class="text-uppercase text-center">medical referral letter</h2>
</div>
<br />
<br />
<p>Date: 2001/05/8</p>
<br />
<div>
    <p>
        To:
        <br />

    </p>
</div>
<br />
<p>
    <b>Subject:</b> Letter of Medical Necessity<br /><br />
    Dear Dr
</p>
<br />
<p>
    I am referring Model.PatientName for evaluation and con
</p>


